<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JMAPP"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.activity_noticias"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginAdmin"
            android:exported="true" />
        <activity
            android:name=".view.login.LoginDocente"
            android:exported="true" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity_register_student"
            android:exported="true" />
        <activity
            android:name=".view.menu_administrador"
            android:exported="true" />
        <activity
            android:name=".view.NotiEventosEsco"
            android:exported="true" />
        <activity
            android:name=".view.menu_docente"
            android:exported="true" />
        <activity
            android:name=".view.menu_apoderado"
            android:exported="true" />
        <activity
            android:name=".view.Seleccion_Sesion_Activity"
            android:exported="true" />
        <activity
            android:name=".view.MensajeDocente"
            android:exported="true" />
        <activity
            android:name=".view.login.OptionLogin"
            android:exported="true" />
        <activity
            android:name=".view.ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".view.MenuPrincipalApoderadoActivity"
            android:exported="true" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>