<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" package="com.javierprado.jmapp">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name="com.javierprado.jmapp.view.activities.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JMAPP"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.activities.control.ControlEstudianteActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.comunicacion.ChatApoderadoDocenteActivity"
            android:exported="true" />
        <activity
            android:name=".view.activities.comunicacion.ChatDocenteApoderadoActivity"
            android:exported="true" />
        <activity
            android:name=".view.activities.control.ControlSeleccionActivity"
            android:exported="true" />
        <activity
            android:name=".view.activities.editar.ActualizarInfoApoderadoActivity"
            android:exported="true" />
        <activity
            android:name=".view.activities.control.ControlHorarioActivity"
            android:exported="true" />
        <activity
            android:name=".view.activities.control.ControlNoticiaActivity"
            android:exported="true" />
        <activity
            android:name=".view.activities.agregar.RegisterDocenteActivity"
            android:exported="true" />
        <activity
            android:name=".view.activities.agregar.RegisterApoderadoActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity_noticias"
            android:exported="true" />
        <activity
            android:name=".view.login.LoginAdmin"
            android:exported="true" />
        <activity
            android:name=".view.login.LoginDocente"
            android:exported="true" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".view.activities.menus.MenuAdministradorActivity"
            android:exported="true" />
        <activity
            android:name=".view.NotiEventosEsco"
            android:exported="true" />
        <activity
            android:name=".view.activities.menus.MenuDocenteActivity"
            android:exported="true" />
        <activity
            android:name=".view.activities.menus.MenuApoderadoActivity"
            android:exported="true" />
        <activity
            android:name=".view.Seleccion_Sesion_Activity"
            android:exported="true" />
        <activity
            android:name=".view.MensajeDocente"
            android:exported="true" />
        <activity
            android:name=".view.login.OptionLogin"
            android:exported="true" />
        <activity
            android:name=".view.activities.editar.ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".view.MenuPrincipalApoderadoActivity"
            android:exported="true" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".notificaciones.FirebaseService"
            android:enabled="true"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <receiver android:name=".notificaciones.NotificationReply" />
        <receiver android:name=".notificaciones.NotificationReunion" />
    </application>

</manifest>